<div class="movieContainer group">
    <div>
        <h1>{{movie.Title}}</h1>
    </div>
    <div>
        <div class="imgContainer">
            <img src="{{movie.Poster}}" alt=""/>
        </div>

        <div class="movieInfo">
            <h4>Starring</h4>

            <p>{{movie.Actors}}</p>
            <h4>Description</h4>

            <p>{{movie.Plot}}</p>
            <h4>Year</h4>

            <p>{{movie.Year}}</p>
            <h4>Awards</h4>

            <p>{{movie.Awards}}</p>
            <h4>Country</h4>

            <p>{{movie.Country}}</p>
            <h4>Director</h4>

            <p>{{movie.Director}}</p>
            <h4>Rated</h4>

            <p>{{movie.Rated}}</p>
            <h4>Released</h4>

            <p>{{movie.Released}}</p>
            <h4>IMDB Rating</h4>

            <p>{{movie.imdbRating}}</p>
        </div>


    </div>
</div>


